// Base colors
$black: #000000;
$black-1: #222323;
$white: #ffffff;
$white-1: #EDF1F2;
$grey: #4F5659;
$grey-2: #545C5F;
$grey-3: #202324;
$grey-4: #D8E0E2;
$grey-5: #34393A;
$grey-6: #8CA4AB;
$grey-7: #939C9F;
$blue: #03062F;
$blue-1: #030F3F;
$blue-2: #528FF0;
$blue-3: #2783F3;
$green: #00BA74;
$green-2: #B1FBE3;
$green-3: #58C19C;
$orange: #DE742D;
$purple: #A07EDC;